svg.react-calendar-heatmap {
    width: 400px;
    margin: 50px;
}

.color-scale-0 {
    fill: rgba(30, 143, 255, 0.697);
}

.color-scale-1 {
    fill: #ffbf00ae;
}

.color-scale-2 {
    fill: rgba(64, 255, 0, 0.526);
}